@model CarPartialViewModel

<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <i class="fas fa-car fa-10x"></i>
            </div>
            <div class="col">
                <h5 class="card-title">@Model.Car.Make @Model.Car.Model</h5>
                <p class="card-text">Owned by: @Model.Customer.Name @Model.Customer.Surname</p>
                <p class="card-text">Order date: @Model.OrderDate.ToString("D")</p>
                <p class="card-text">Sales person: @Model.SalesPerson.Name</p>
                <p class="card-text">Recommended price: @Model.Car.RecommendPrice - sold for: @Model.SoldFor</p>
                @if (Model.Car.Extras.Any(o => !string.IsNullOrWhiteSpace(o)))
                {
                    <strong>Extras:</strong>
                    <ul>
                        @foreach (var extra in @Model.Car.Extras)
                        {
                            <li>@extra</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>