@model CarDealership.Domain.ReadModels.Make

@{
    ViewData["Title"] = Model.Name;
}

<h5>@Model.Name</h5>

<div class="row mb-3">
    @foreach (var carModel in Model.Models)
    {
        <div class="col-lg mb-3">
            <a class="card-link text-dark" href="@Url.Action("Model", "Car", new {id = @carModel.Id})">
                <div class="card">
                    <div class="text-center">
                        <i class="fas fa-car fa-10x"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">@carModel.Name</h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<h5>Car Purchases with @Model.Name</h5>

@await Component.InvokeAsync("CarPurchasesByMake", new { makeId = Model.Id })